@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  font-family: lobster;
  font-size: 115%;
}

p, label {
  color: white;
}

a {
  color: lightblue;
}

#pad {
  background-color: lightgreen;
}

body {
  background: turquoise; /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left, lightgreen, turquoise); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, lightgreen, turquoise); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, lightgreen, turquoise); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, lightgreen, turquoise); /* Standard syntax (must be last) */
}
